@mixin empty-placeholder {
  &.ph-empty {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient(
                    45deg,
                    white,
                    white 2em,
                    darken(white, 10%) 2em,
                    darken(white, 10%) 4em
    );
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
  }

  .ph-empty-text {
    background: lightgray;
    border-radius: 5px;
    padding: 10px;
  }
}

@mixin edit-button {
  position: relative;

  .edit-btn {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}